aiohttp==3.8.6
aiosignal==1.3.1
aiosmtpd==1.4.4.post2
alabaster==0.7.12
alembic==1.6.5
altair==4.2.2
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.1.1
asciinema==2.0.2
asciitree==0.3.3
ase==3.22.1
asgiref==3.4.1
async-timeout==4.0.3
asynctest==0.13.0
atomicwrites==1.4.0
atpublic==3.1.2
attrs==21.2.0
Babel==2.14.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
bcrypt==3.1.7
Beaker==1.11.0
beautifulsoup4==4.9.1
bibtexparser==1.2.0
binaryornot==0.4.4
bleach==3.3.0
blinker==1.4
boto3==1.33.6
botocore==1.33.6
bottle==0.12.25
cached-property==1.5.1
cchardet==2.1.7
certifi==2021.5.30
cffi==1.15.1
CFGraph==0.2.1
chardet==4.0.0
charset-normalizer==3.3.2
-e git+https://github.com/ckan/ckan.git@1bc5fb722eb6482f97ad38b087752e7e991d91f4#egg=ckan
# Editable install with no version control (ckanapi==4.8)
-e /usr/lib/ckan/default/lib/python3.7/site-packages
-e git+https://github.com/TIBHannover/ckanext-close-for-guests.git@f52d8675d318d42e42c6c1df8fb4aaeeef944cc7#egg=ckanext_close_for_guests
-e git+https://github.com/EnviDat/ckanext-composite.git@e7c01d2bd33a7b4a5a7de26cc831f6e0cce87a21#egg=ckanext_composite
-e git+https://github.com/TIBHannover/ckanext-composite-search.git@001bd502f2fedaaae99e6ed596ab5d1a1b7eb7ea#egg=ckanext_composite_search
-e git+https://github.com/bhavin2897/ckanext-datapackager.git@4a79d84f24a84c6438724359cd36849d3ff699b4#egg=ckanext_datapackager
-e git+https://github.com/TIBHannover/ckanext-dcat.git@92e982d24073ea16bfe44d75b70fade536a062f6#egg=ckanext_dcat
-e git+https://github.com/bhavin2897/ckanext-downloadall.git@88ae40cb3dae7a1429ff2b3dcd8164ddf0a023d8#egg=ckanext_downloadall
-e git+https://github.com/TIBHannover/ckanext-footer.git@40881d5747915b1a0803fead0c7118bdf53f38f7#egg=ckanext_footer
-e git+https://github.com/ckan/ckanext-harvest.git@34bbcdbd65fa31a798b9ad688ea591ba72ffa7bd#egg=ckanext_harvest
-e git+https://github.com/TIBHannover/ckanext-harvester4chem.git@cb8a23db9ed0a04a94cb093bb6bf63ef0bbf641a#egg=ckanext_harvester4chem
-e git+https://github.com/bhavin2897/ckanext-hidepremissions.git@bf0b011870d51273393c5c6cb5c450e81835956d#egg=ckanext_hidepremissions
-e git+https://github.com/bhavin2897/ckanext-massbankharvester.git@aa5a009e21ff6110ee5f3c4b64c8e238866ec974#egg=ckanext_massbankharvester
-e git+https://github.com/bhavin2897/ckanext-md_comp_layout.git@122c23121319042b223cf5a60df941519c96ca42#egg=ckanext_md_comp_layout
# Editable install with no version control (ckanext-moleculeview==0.0.1)
-e /usr/lib/ckan/default/src/ckanext-moleculeview
-e git+https://github.com/TIBHannover/ckanext-multiuploader.git@2d3f4f0f5fc2ac093221c36fc2d3873d1e932cf6#egg=ckanext_multiuploader
-e git+https://github.com/bhavin2897/ckanext-oai_metadataschema.git@8a1c4e061409baefaf1d36a8b356a9d684cbdbc2#egg=ckanext_oai_metadataschema
-e git+ssh://git@github.com/DataShades/ckanext-oaipmh.git@155d94b097f096f5f4d1d87660143c4e92bec787#egg=ckanext_oaipmh
-e git+https://github.com/TIBHannover/ckanext-rdkit-visuals.git@c4e643145a2e0ac332751f0082ef31f0e6e311e1#egg=ckanext_rdkit_visuals
-e git+https://github.com/bhavin2897/ckanext-related_resources.git@288ed45202c0ae00f927ab85f31bd62b583823c6#egg=ckanext_related_resources
-e git+https://github.com/TIBHannover/ckanext-relationship.git@a0b84d0cbb90a48476c4f70c2983a77d93b707f9#egg=ckanext_relationship
-e git+https://github.com/TIBHannover/ckanext-scheming.git@e626e65283368b19dd9cdace211dbb6fd255fa59#egg=ckanext_scheming
-e git+https://github.com/TIBHannover/ckanext-search-autocomplete.git@8a8237026f9988bb412180d4e16ae4a9242b7e15#egg=ckanext_search_autocomplete
-e git+https://github.com/TIBHannover/ckanext-search-tweaks.git@ec6794de0536eddd4120af0180dfe7c522881ba5#egg=ckanext_search_tweaks
-e git+https://github.com/TIBHannover/ckanext-Semantic-Media-Wiki.git@a20ff1595e77fb8247ff3a9d09e3721d91b91557#egg=ckanext_Semantic_Media_Wiki
-e git+https://github.com/TIBHannover/ckanext-sparql_interface.git@aa620afc943c5e8da582d21fdb25f82a10283d4e#egg=ckanext_sparql_interface
-e git+https://github.com/TIBHannover/ckanext-theme4chem.git@ebe50b74a0df1f50c4b99ed1485122836158d511#egg=ckanext_statictheme
ckanext-toolbelt==0.2.0
-e git+https://github.com/frictionlessdata/ckanext-validation.git@1073c80dace453a404df3d5f1ac1ae86a88b5029#egg=ckanext_validation
ckantoolkit==0.0.7
click==8.1.8
click-default-group==1.2.2
colorama==0.4.3
comm==0.1.4
common==0.1.2
cookiecutter==1.7.0
coverage==6.5.0
coveralls==3.3.1
CProfileV==1.0.7
cryptography==2.8
curie==0.0.32
curies==0.5.5
cycler==0.11.0
Cython==3.0.6
datapackage==1.15.2
debugpy==1.7.0
decorator==5.0.9
defusedxml==0.7.1
Deprecated==1.2.18
distlib==0.3.2
distro==1.9.0
Django==3.2.7
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.19
dominate==2.6.0
e==1.4.5
entrypoints==0.3
escape==1.1
et-xmlfile==1.1.0
exceptiongroup==1.2.1
factory-boy==2.12.0
Faker==8.12.1
fanstatic==1.1
fasteners==0.14.1
fastjsonschema==2.19.1
feedgen==0.9.0
filelock==3.0.12
flake8==2.1.0
Flask==1.1.4
Flask-Babel==1.0.0
Flask-DebugToolbar==0.11.0
flask-multistatic==1.0
fonttools==4.38.0
freezegun==0.3.15
frictionless==5.13.1
frictionless-ckan-mapper==1.0.7
frozenlist==1.3.3
funcsigs==1.0.2
future==0.18.2
geomet==1.0.0
graphviz==0.20.1
great-expectations==0.16.13
greenlet==3.1.1
h11==0.14.0
hbreader==0.9.1
httpcore==0.17.3
httplib2==0.14.0
httpx==0.24.1
humanize==4.6.0
idna==2.10
ijson==3.2.3
imagesize==1.4.1
importlib-metadata==4.8.1
importlib-resources==5.12.0
incremental==21.3.0
iniconfig==1.1.1
ipdb==0.13.2
ipykernel==6.16.2
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==8.1.3
isodate==0.6.1
itsdangerous==1.1.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==2.11.3
jinja2-time==0.2.0
jmespath==1.0.1
json-flattener==0.1.9
jsonasobj==1.3.1
jsonasobj2==1.0.4
jsonlines==3.1.0
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==2.4
jsonschema==3.2.0
jupyter-server==1.24.0
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab_widgets==3.0.11
keyring==18.0.1
kiwisolver==1.4.5
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
linear-tsv==1.1.0
link==2.1.4
linkml==1.2.11
linkml-dataops==0.1.0
linkml-runtime==1.4.0
lockfile==0.12.2
lxml==4.6.3
macaroonbakery==1.3.1
makefun==1.15.2
Mako==1.1.4
Markdown==3.3.4
markdown-it-py==2.2.0
marko==2.0.2
MarkupSafe==2.0.1
marshmallow==3.19.0
matplotlib==3.5.3
matplotlib-inline==0.1.2
mccabe==0.7.0
mdit-py-plugins==0.3.5
mdurl==0.1.2
mistune==3.0.2
mock==2.0.0
monotonic==1.5
more-itertools==8.9.0
multidict==6.0.4
mwclient==0.10.1
myst-parser==1.0.0
nbclassic==1.1.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nest-asyncio==1.6.0
netifaces==0.11.0
nose==1.3.1
notebook==6.5.7
notebook_shim==0.2.4
numpy==1.21.2
oauthlib==3.1.0
olefile==0.46
openai==1.39.0
openpyxl==3.1.2
packaging==21.0
pandas==1.3.2
pandocfilters==1.5.1
paramiko==2.6.0
parse==1.20.2
parso==0.8.2
passlib==1.7.4
PasteDeploy==2.0.1
pathtools==0.1.2
pbr==5.4.4
pep8==1.7.1
petl==1.7.14
pexpect==4.6.0
pickleshare==0.7.5
pika==1.2.1
Pillow==9.2.0
pip-tools==5.1.2
pkgutil_resolve_name==1.3.10
platformdirs==2.3.0
pluggy==0.13.1
ply==3.11
polib==1.1.1
poyo==0.5.0
prefixcommons==0.1.12
prometheus-client==0.17.1
prompt-toolkit==3.0.20
protobuf==3.6.1
protocol==0.1.0
psutil==5.9.8
psycopg2==2.9.1
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.5.0
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pyfakefs==3.2
pyflakes==3.0.1
Pygments==2.17.2
PyJSG==0.11.10
PyJWT==2.1.0
pylibiio==0.23
pymacaroons==0.13.0
PyNaCl==1.3.0
pyoai==2.5.0
pyOpenSSL==18.0.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.14
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyrsistent==0.15.5
PyShEx==0.8.1
PyShExC==0.9.1
pysolr==3.6.0
pytest==4.6.5
pytest-ckan==0.0.12
pytest-cov==2.7.1
pytest-freezegun==0.4.1
pytest-logging==2015.11.4
pytest-rerunfailures==8.0
pytest-split-tests==1.0.9
python-dateutil==2.8.1
python-dotenv==0.19.2
python-editor==1.0.4
python-magic==0.4.24
python-slugify==5.0.2
PyTrie==0.4.0
pytz==2021.1
PyUtilib==6.0.0
pyxdg==0.26
PyYAML==6.0.1
pyzmq==26.0.3
rapidfuzz==3.4.0
rdflib==6.3.2
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
rdkit==2023.3.2
rdkit-pypi==2021.9.4
redis==3.5.3
reportlab==3.5.34
repoze.lru==0.7
repoze.who==2.3
requests==2.30.0
requests-oauthlib==2.0.0
requests-unixsocket==0.2.0
responses==0.10.14
rfc3986==2.0.0
rich==13.7.0
Routes==1.13
rq==1.9.0
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.8
s3transfer==0.8.2
scipy==1.7.3
SecretStorage==2.3.1
Send2Trash==1.8.3
shellingham==1.5.4
ShExJSG==0.8.2
shutilwhich==1.1.0
simpleeval==0.9.13
simplejson==3.17.2
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.1.0
sortedcontainers==2.4.0
soupsieve==2.2.1
sparqlslurper==0.5.1
SPARQLWrapper==2.0.0
Sphinx==5.3.0
sphinx-click==4.4.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.3.24
sqlalchemy-migrate==0.12.0
sqlparse==0.4.1
ssh-import-id==5.10
stringcase==1.2.0
supervisor==4.1.0
tableschema==1.20.2
tabulate==0.9.0
tabulator==1.53.5
Tempita==0.5.2
terminado==0.17.1
testresources==2.0.1
text-unidecode==1.3
texttable==1.6.2
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.1
tornado==6.2
towncrier==19.2.0
tqdm==4.66.4
traitlets==5.1.0
typer==0.9.0
typing==3.7.4.3
typing_extensions==4.7.1
tzlocal==2.1
unicodecsv==0.14.1
Unidecode==1.3.7
urllib3==1.26.20
validators==0.20.0
virtualenv==20.7.2
wadllib==1.3.3
watchdog==2.1.3
wcwidth==0.2.5
webassets==2.0
webencodings==0.5.1
WebOb==1.8.7
websocket-client==0.53.0
Werkzeug==1.0.1
whichcraft==0.6.1
widgetsnbextension==4.0.11
wrapt==1.16.0
xdg==5.0.0
xlrd==2.0.1
yarl==1.9.3
zipp==3.5.0
zope.interface==5.4.0
